DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=app
DB_HOST=postgres
DB_PORT=5432

ES_HOST=elasticsearch
ES_PORT=9200

DISCOVERY_TYPE=single-node
XPACK_SECURITY_ENABLED=false

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=admin-panel-writer
MINIO_SECRET_KEY=change-me-locally-too
MINIO_BUCKET=posters
